{% extends 'base.html.twig' %}

{% block title %}Nouvelle Horaire{% endblock %}

{% block body %}
    <div class="container">

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Calendrier Annuelle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/planningSemaine">Calendrier Semaine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/compte/create">Inscrire un compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Login</a>
            </li>
        </ul>

    </div>
    {{ include('affectation_matiere/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('affectation_matiere_index') }}">Retourner au calendrier</a>
{% endblock %}
