
<h1>Planning Annuel de {{ user }}</h1>
<h2>Année courante : {{ year }}</h2>

{# Style #}
<style>
    table, th, td {
        border:1px solid black;
        width: 20px;
        text-align: center;
    }
    #calendrier {
        width: 80%;
        margin: auto;
    }

</style>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js" integrity="sha256-XOMgUu4lWKSn8CFoJoBoGd9Q/OET+xrfGYSo+AKpFhE=" crossorigin="anonymous"></script>

    {% block stylesheets %}{% endblock %}
</head>

{% block body %}
    <div id="calendrier">
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar:{
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                }
            })

            calendar.render()
        }
    </script>

{% endblock %}











{# Draw schedule
<table style="width:100%">

    <thead>
        <tr>
            {% for column in columns_header %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>

        {% for row in schedule_content %}
            <tr>
                {% for cell in row  %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>

</table>
#}
